.btn-search {
  background-color: var(--yellow) !important;
  color: var(--blue) !important;
  border: 0px !important;
  border-radius: 5px 25px 5px 25px !important;
  font-size: 14px !important;
  padding: 10px 30px;
  transition: all 0.11s ease !important;
}

.btn-search:hover {
  background-color: white !important;
  color: var(--blue) !important;
}
